#################################
#  San Andreas Republic Server  #
#   Server Configuration File   #
#################################
# This file is controlled by AMP. Any manual changes will be overwritten
# If you need to add any extra settings, add them through the AMP UI

## Server Settings
endpoint_add_tcp "{{ApplicationIPBinding}}:{{ServerPort}}"
endpoint_add_udp "{{ApplicationIPBinding}}:{{ServerPort}}"
sv_scriptHookAllowed {{sv_scriptHookAllowed}}
sv_endpointprivacy {{sv_endpointPrivacy}}
sv_maxclients {{sv_maxClients}}
set steam_webApiKey "{{steam_webApiKey}}"
sv_enforceGameBuild {{sv_enforceGameBuild}}
sv_licenseKey {{sv_licenseKey}}
	
{{sv_master1}}
{{sv_pureLevel}}
sv_requestParanoia {{sv_requestParanoia}}
	
set onesync {{onesync}}
set onesync_population {{onesync_population}}
set onesync_distanceCullVehicles {{onesync_distanceCullVehicles}}
set onesync_forceMigration {{onesync_forceMigration}}
set onesync_workaround763185 {{onesync_workaround763185}}
	
## Pool Sizes
{{PoolSize}}
	
## Server Metadata
sv_hostname "{{sv_hostname}}"
sets sv_projectName "{{sv_projectName}}"
sets sv_projectDesc "{{sv_projectDesc}}"
sets tags "{{tags}}"
sets locale "{{locale}}"
load_server_icon icon.png
sets banner_detail "{{banner_detail}}"
sets banner_connecting "{{banner_connecting}}"

{{MoreMetadata}}

## Additional Configuration Files
{{MoreConfigs}}

## Resources
{{ensure}}

{{resourceConfig}}

## Additional Settings
{{UserSettings}}
